/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */
:root {
    --main-color: hsl(45, 99%, 47%);
}

/* Utilities */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Dancing Script", cursive;
}

.fs-xl {
    font-size: min(5rem, calc(1.5rem + 4vw)) !important;
}

.fs-l {
    font-size: max(4rem, calc(3rem + 2vw)) !important;
}

.fs-m {
    font-size: calc(1.325rem + 1.5vw) !important;
}

.fs-xs {
    font-size: min(1rem, calc(0.625rem + 0.5vw));
}

.font-poppins {
    font-family: "Poppins";
}

.text-main {
    color: var(--main-color) !important;
}

.bg-main {
    background-color: var(--main-color) !important;
}

.border-main {
    border-color: var(--main-color) !important;
}

.darken {
    position: relative;
    z-index: 1;
}

.darken::before {
    content: "";
    background-color: hsla(0, 0%, 0%, 0.5);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.img-center {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.background-center {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-custom-1 {
    position: relative;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 0.5rem 1rem;
    background: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    transition: color 0.5s ease;
}

.btn-custom-1::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.75s ease;
}

.btn-custom-1:hover {
    color: var(--bs-light);
}

.btn-custom-1:hover::before {
    width: 100%;
}

.custom-line {
    border-top: 4px solid var(--main-color);
    width: 100%;
    opacity: 1;
}

.hr-with-image {
    display: flex;
    align-items: center;
    text-align: center;
    width: 20rem;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

.hr-with-image::before,
.hr-with-image::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid var(--bs-light);
}

.hr-with-image img {
    margin: 0 0.5em;
    height: 1em;
}

.spinner {
    animation: spin 10s linear 0s infinite normal forwards;
}

.spinner-reverse {
    animation: spin 10s linear 0s infinite reverse forwards;
}

.float {
    animation: float 4s ease-in-out 0s infinite normal forwards;
}

/* Reset */
body {
    font-family: "Poppins", sans-serif;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Nav Icon */
.custom-nav-icon {
    display: block;
    position: relative;
    width: 2em;
    height: 1.5em;
}

.custom-nav-icon .bars {
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% / 6);
    left: 0;
    opacity: 1;
    border-radius: 50rem;
    transition: 0.25s ease-in-out;
}

.custom-nav-icon .bars:nth-of-type(1) {
    top: 0%;
}

.custom-nav-icon .bars:nth-of-type(2) {
    top: 50%;
    translate: 0 -50%;
}

.custom-nav-icon .bars:nth-of-type(3) {
    bottom: 0%;
}

body:has(.offcanvas.show, .offcanvas.showing):not(:has(.offcanvas.hiding)) .custom-nav-icon .bars:nth-of-type(1) {
    rotate: 45deg;
    top: 50%;
    translate: 0 -50%;
}

body:has(.offcanvas.show, .offcanvas.showing):not(:has(.offcanvas.hiding)) .custom-nav-icon .bars:nth-of-type(2) {
    width: 0;
    opacity: 0;
}

body:has(.offcanvas.show, .offcanvas.showing):not(:has(.offcanvas.hiding)) .custom-nav-icon .bars:nth-of-type(3) {
    rotate: -45deg;
    bottom: 50%;
    translate: 0 50%;
}

/* ############################################# */

.offcanvas {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.offcanvas .custom-btn-close {
    transition: 0.5s ease-in-out;
}

.offcanvas .custom-btn-close:hover {
    rotate: 180deg;
}

.offcanvas .offcanvas-body .sections-links li a {
    color: var(--bs-light);
    transition: 0.25s ease-in-out;
}

.offcanvas .offcanvas-body .sections-links li a:hover {
    color: var(--main-color);
    padding-inline-start: 1rem;
}

.offcanvas .offcanvas-body .social-links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-light);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    transition: 0.25s ease-in-out;
}

.offcanvas .offcanvas-body .social-links li a:hover {
    scale: 1.1;
}